# --- Carpetas de Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --- Entornos virtuales ---
venv/
env/
.venv/
.virtualenv/

# --- Archivos de configuración locales ---
*.env
*.ini
*.cfg
*.local

# --- Archivos de logs ---
*.log

# --- Archivos de bases de datos locales ---
*.sqlite3
*.db

# --- Archivos de sistema ---
.DS_Store
Thumbs.db

# --- Archivos de compilación ---
build/
dist/
*.egg-info/

# --- Archivos de editor ---
.vscode/
.idea/
